.map-container {
    height: 100vh;
    width: 100%;
}

.card1 {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background: white;
    padding: 20px 25px;
    border-radius: 8px;
    z-index: 9999;
    flex-direction: column;
    gap: 5px;
    width: 220px;
}

.longlat-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.status {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
