.gm-toolbar {
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-items: center;
}

.gm-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 4px;
  border-radius: 8px;
  background-color: #1b2a4b;
  transition: 0.1s ease;
}

.gm-icon:hover {
  background-color: #324777;
}

.gm-toolbar {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.gm-toolbar-top {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.gm-toolbar-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding-bottom: 20px;
}