.gm-toolbar {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  align-items: center;
}

.gm-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  background-color: #1b2a4b;
  transition: 0.1s ease;
}

.gm-icon:hover {
  background-color: #324777;
}
