.switch-btn-container {
  display: flex;
  width: 80%;              
  height: 103px;    
  cursor: pointer;
  margin: 10% auto 0 auto;  
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}


.switch-left {
  width: 35px;
  background-color: #F7CF2D;
  display: flex;
  align-items: center;
  justify-content: center;
  
  writing-mode: vertical-rl;
  transform: rotate(180deg); 
  
  font-size: 14px;
  font-weight: 700;
  color: #23315A;
  letter-spacing: 0.5px;
}


.switch-right {
  flex: 1;
  background-color: #23315A;
  display: flex;
  align-items: center;

  padding-left: 20px;
  gap: 5px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.switch-icon {
  height: 60px; 
}

.switch-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  line-height: 22px;
}
