.switch-icon-btn {
  width: 48px;
  height: 48px;
  background-color: #23315A; /* biru biar icon putih keliatan */
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.switch-icon-btn img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
