html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-layout {
  display: flex;
  width: 100vw;   
  height: 100vh;  
}

.sidebar {
  width: 12.5%;
  height: 100%;
  display: flex;    
  overflow: hidden;
}

.switch-memory-sidebar {
  flex: 7;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.plan-menu{
  flex: 2;
  background-color: #23315A;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 20px;
  gap: 15px;
}

.map-container {
  width: 87.5%;
  height: 100%;
}
