html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-layout {
  display: flex;
  width: 100vw;   
  height: 100vh;  
}

.sidebar {
  width: 20%;
  height: 100%;
  display: flex;    
}

.memory-sidebar {
  flex: 9;
  background-color: #dddddd;
}

.plan-menu{
  flex: 1.5;
  background-color: #222222;
}

.map-container {
  width: 80%;
  height: 100%;
}
